@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Section: Social media -->
<section class=" footer d-flex justify-content-center p-0 border-bottom p-0 bg-image"
         style="background-color:rgb(250, 72, 2)">

    <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto ">
                    <!-- Links -->
                    <p class="text-uppercase text-white  ">
                        Home
                    </p>
                </div>
                <div class="col-md-2 mx-auto mb-md-2 ">
                    <!-- Links -->
                    <p class="text-uppercase text-white  ">
                        Oportunidades
                    </p>
                </div>
                <div class="col-md-2 mx-auto mb-md-2 ">
                    <!-- Links -->
                    <p class="text-uppercase text-white  ">
                        Artistas
                    </p>
                </div>
                <div class="col-md-2 mx-auto mb-md-2 ">
                    <!-- Links -->
                    <p class="text-uppercase text-white  ">
                        Blog
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <div class="justify-content-right">
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f" style="color:white"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter" style="color:white"></i>
                </a>

                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram" style="color:white"></i>
                </a>
            </div>

            <div class="row">
                <div class="text-center text-white p-4">
                    © 2021 Direitos Reservados:
                    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">freebird.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->

</section>